.AvnishDiv-1{ 
  width:99%;
  height:auto;
  /* border:1px solid red; */
  display: flex;
  justify-content:center;
  margin: auto;
  background-color: #b0e7e8;
 
 }

 .AvnishDiv-2{
   width: 50%;
   height: 300px; 
  /* border:1px solid red; */
  margin:auto;
  padding:10px;
  margin-top:15% 
  
  }
 .heading_1{
  color:#224F3C;
  font-size: 32px;
 }
 .para_1{
  color:#224F3C;
  font-size: 18px;
 }
 .AvnishButton-1 {
  display: flex;
  justify-content: space-around;
  gap:30px;
 }
 .btn-1{
  font-size: 15px;
  background-color: #F9BE00;
  color:#1E2124;
  width: 40%;
  height: 50px;
  border:none;
  border-radius: 5px;

 }
 .btn-2{
  font-size: 15px;
  background-color: #eee;
  color:#1E2124;
  width: 40%;
  height: 50px;
  
  font-family: "National","Helvetica Neue";
  border-radius: 5px;
 }
 .imgDiv img{
  width: 80%;
  height: 600px;
  /* border: 1px solid black; */
 } 

     /* {Who is your survey audience?} */

.AvnishDiv-3{
  width: 80%;
  height: auto;
  /* border: 1px solid black; */
  margin: auto;
  background-color: #EEEEEE;
  margin-top: 50px;

}
.btn-3{

  display: flex;
  justify-content: space-evenly;
}
/* .AvnishDiv-3:hover{
  box-shadow: 0 8px 16px 0 rgba(233, 20, 20, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */
.box:hover{
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* -----------------------------------------who is you survey audience------------------- */
.grid-who-is-you-servey-audi{
margin: 20px;
width: 100%;
display: flex;
justify-content: space-evenly;
/* border: 1px solid red; */
}
.grid-who-is-you-servey-audi-1{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
}

.grid-who-is-you-servey-audi-img{
position: relative;
text-align: center;
color: white;
/* border: 1px solid red; */
}
.grid-who-is-you-servey-audi-text{
position: absolute;
bottom:0%;
left: 45%;
transform: translate(-50%, -50%);
font-size: 20px;
font-weight: 500;
/* border: 1px solid red; */
color: #000;
text-align: left;
width: 85%;
}
.grid-who-is-you-servey-audi-text-white{
position: absolute;
bottom:0%;
left: 45%;
transform: translate(-50%, -50%);
font-size: 20px;
font-weight: 500;
/* border: 1px solid red; */
color:white;
text-align: left;
width: 85%;
}
/* ---------------------------------------------------------- */
.mainLogoImgDiv{
margin-top: 100px;
width: 90%;
/* border: 2px solid red; */
margin-left: 60px;
}
.logImage{
display: flex;
justify-content: space-around;
width: 100%;


}
.logImage img{
width: 20%;
height: 40px;
margin: auto;
}



/* ----------------------------plan---------------------------------- */
.LearnMore{
position: relative;
text-align: center;
color: white;
/* border: 1px solid red; */
}
.LearnCenter{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
font-weight: 500;
/* border: 1px solid red; */
width: 40%;
height: 200px;
}
.LearnBtn{
margin-top: 30px;
/* border: 1px solid red; */
}
.temp{
margin-top: 100px;

}
.temp div{
margin-top: 30px;
}
.HeadingTeamplet{
margin: auto;
width: 40%;
/* border: 1px solid red; */
font-size: 30px;
font-weight: 500;
}
.ParaTeamplet{
margin: auto;
width: 40%;
/* border:1px solid red; */
font-size: 20px;
font-weight: 500;
}


.feedback{
width: 99%;
height: 800px;
background-color: #EEEEEE;
color: #000;
/* border: 1px solid red; */
margin: auto;

}
.feedbackHeading{
margin:auto;
width: 44%;
height: 200px;

/* border: 1px solid red; */
}

/* {----------------------Start with an expert-written template------------------------------------------------------------------} */

.grid-temp-a{
  width: 100%;
  height: 600px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;


}
.grid-temp-a div{
  /* border: 1px solid black; */
}
.grid-temp-search{
  overflow-y: scroll;
  padding: 10px;
}
.grid-temp-b{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  overflow-y: scroll;
  margin: 0px 20px;

}


.grid-temp-img{
  position: relative;
  text-align: center;
  color: white;
  /* border: 1px solid red; */
}
.grid-temp-text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  /* border: 1px solid red; */
  width: 100%;
}


    /* ---------------------------media query---------------------------------- */
     @media screen and (min-device-width: 200px) and (max-device-width: 768px) {
      .AvnishDiv-1{ 
          display: flex;
          flex-flow: column nowrap;
      }
      .AvnishButton-1 {
          display: flex;
          flex-flow: column nowrap;
         }
        .btn-1{
          width: 100%;
          height: 50px;
        }
        .btn-2{
          width: 100%;
          height: 50px;
        }
        .btn-3{
        
          flex-flow: column;
         
        }
        .btn-3 Button{
          width: 90%;
          margin: 10px;
        }
        .imgDiv img{
          margin-top: 200px;
          }
          .plan_2{
            flex-flow: column;
          }
          .LearnCenter{
            width: 100%
          }

          .HeadingTeamplet{
            margin: auto;
            width: 90%;
          /* border: 1px solid red; */
          font-size: 30px;
          font-weight: 500;
          }
          .ParaTeamplet{
            margin: auto;
            width: 80%;
            /* border:1px solid red; */
            font-size: 20px;
            font-weight: 500;
            padding: 10px;
           
          }
          .feedback{
           
            height: auto;
            
          
          }
          .feedbackHeading{
            
            width: 100%;
           
          }

          .grid-temp-a{
            width: 100%;
            height: 1500px;
            margin: auto;
            /* border: 1px solid red; */
            flex-flow: column nowrap;
            /* justify-content: space-evenly;*/
        
        
          
        } 
          
         
          .grid-temp-b{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            overflow-y: scroll;
            margin: 0px 20px;
        
          }

          .grid-who-is-you-servey-audi{
            
           flex-flow: column nowrap;
           
          }
          .grid-who-is-you-servey-audi-1{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
          }
     }

    